.centered
{
    text-align: center;
}

.large
{
    font-size: large;
}

/*backgrounds and fonts for pages*/
body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Unique background colors for each page */
#home {
    background-color: LightSlateGray;
    color: white;
}

#ruby {
    background-color: light pink;
    color: white;
}

#odin {
    background-color: grey;
    color: black;
}

#autumn {
    background-color: khaki;
    color: black;
}


/*carousel image sizing*/
.carousel-inner img {
    height: 1000px;
    object-fit: cover;
}

/
