.centered
{
    text-align: center;
}

.large
{
    font-size: large;
}

/*backgrounds and fonts for pages*/
body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Unique background colors for each page */
#home {
    background-color: black;
    color: white;
}

#ruby {
    background-color: red;
    color: white;
}

#odin {
    background-color: grey;
    color: black;
}

#autumn {
    background-color: yellow;
    color: black;
}
