{% extends "layout.html" %}

{% block title %}
  History
{% endblock %}

{% block main %}
<h1>History</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Shares</th>
      <th>Price</th>
      <th>Stock Value</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    <tr>
      <td>{{ transaction.symbol }}</td>
      <td>{{ transaction.name}}</td>
      <td>{{ transaction.total_shares }}</td>
      <td>{{ transaction.price | usd }}</td>
      <td>{{ transaction.value | usd }}</td>
      <thd>{{ transaction.timestamp }}</thd>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="5">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4" align="right">Cash</td>
      <td>{{ cash | usd }}</td>
    </tr>
    <tr>
      <td colspan="4" align="right">Total Value</td>
      <td>{{ total_value | usd }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
