{% extends "layout.html" %}

{% block title %}
  Index
{% endblock %}

{% block main %}

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Total Value</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>




jinja- {% for contact in contacts %}
                    # <p>{{ contact.name}} live in {{contact.house}}</p>
                # {% endfor %}


{% endblock %}
