{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<h1>Get A Quote</h1>
<form action="/quote" method="GET">
    <div class="mb-3">
        <input autocomplete="on" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Get Quote</button>
</form>

{% if stock %}
    <h3>Name: {{ sotck.name }}<h3>
    </h3>Symbol: {{ stock.symbol }}</h3>
    <p>Price: {{ stock.price }}</p>

{% endif %}
{% endblock %}
