{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

<form action="/quote" method="POST">
    <div class="mb-3">
        <input autocomplete="on" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Get Quote</button>
</form>

{% if name and symbol and price %}
    <h3>Name: {{ name }}<h3>
    </h3>Symbol: {{ symbol }}</h3>
    <p>Price: {{ price }}</p>

{% endif %}
{% endblock %}
