{% extends "layout.html" %}
{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell</h1>
    <form action="/sell" method="POST">
        <div class="mb-3">
            <select class="form-control mx-auto w-auto" name="symbol" id="symbol" required>
                <option value="">Select a stock</option>
                {% for stock in stocks %}
                    <option value="{{ stock['symbol'] }}">{{ stock['symbol'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="maxShares">Total Available Shares:</label>
            <input type="text" class="form-control mx-auto w-auto" id="maxShares readonly
                    placeholder="Select Stock to view maximum available shares"
                >

        </div>






        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" required>
                <option value="">Number of Shares to be Sold</option>
            </input>
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>






{% endblock %}
